/* .carousel-indicators [data-bs-target] {
  background-color: transparent;
  width: 10px;
  height: 10px;
  border-radius: 68%;
  border: 2px solid #fff;
}
.carousel-indicators .active {
  background-color: #fff;
}

.carousel-control-prev {
  left: -95px;
}
.carousel-control-next {
  right: -95px;
} */
